mainmenu "OneOS Configuration"

#Define the relative path to root directory of os code
OS_ROOT=../..
SRC_HAL=st

config BOARD_NUCLEO_169
    bool
    select SOC_STM32L4R9AI
    default y
    
source "$OS_ROOT/Kconfig"
