mainmenu "OneOS Configuration"

#Define the relative path to root directory of os code
OS_ROOT=../..
SRC_HAL=st

config BSP_USING_GPIO
    bool

config BSP_USING_UART
    bool

config BSP_USING_UART1
    bool

config OS_USING_PIN
    bool
    
config OS_USING_SERIAL
    bool

config BOARD_ATK_ELITE
    bool
    select SOC_STM32F103xE
    select BSP_USING_GPIO
    select BSP_USING_UART
    select BSP_USING_UART1
    select OS_USING_PIN
    select OS_USING_SERIAL
    default y
    
source "$OS_ROOT/Kconfig"
