mainmenu "OneOS Configuration"

#Define the relative path to root directory of os code
OS_ROOT=../..
SRC_HAL=mm32

config SOC_MM32F0132C4P
    bool
    select SERIES_MM32F013XX
    default y
    
    if SOC_MM32F0132C4P
        config SOC_MODEL
        string
        default "MM32F0132C4P"
    endif
    
source "$OS_ROOT/Kconfig"
