mainmenu "OneOS Configuration"

#Define the relative path to root directory of os code
OS_ROOT=../..
SRC_HAL=hk32

config BOARD_HK32F1xx
    bool
    select SOC_HK32F103RBT6A
    default y
    
config SOC_MODEL
    string
    default "HK32F103RBT6A"
    
source "$OS_ROOT/Kconfig"
