menu "SIM7070X Config"

    config SIM7070X_AUTO_CREATE
        bool "Enable SIM7070X Module Object Auto Create"
        default n

    if SIM7070X_AUTO_CREATE

        config SIM7070X_DEVICE_NAME
            string "SIM7070X Interface Device Name"
            default "uart2"

        config SIM7070X_DEVICE_RATE
            int "SIM7070X Interface Device Rate"
            default 115200

        config SIM7070X_RECV_BUFF_LEN
            int "The maximum length of AT command data accepted"
            default 1564

    endif

    config SIM7070X_USING_GENERAL_OPS
        bool "Enable SIM7070X Module General Operates"
        select MOLINK_USING_GENERAL_OPS
        default y

    config SIM7070X_USING_NETSERV_OPS
        bool "Enable SIM7070X Module Network Service Operates"
        select MOLINK_USING_NETSERV_OPS
        default y

    config SIM7070X_USING_PING_OPS
        bool "Enable SIM7070X Module Ping Operates"
        select MOLINK_USING_PING_OPS
        default y

    config SIM7070X_USING_IFCONFIG_OPS
        bool "Enable SIM7070X Module Ifconfig Operates"
        select MOLINK_USING_IFCONFIG_OPS
        select SIM7070X_USING_GENERAL_OPS
        select SIM7070X_USING_NETSERV_OPS
        default y
    config SIM7070X_USING_NETCONN_OPS
        bool "Enable SIM7070X Module Network TCP/IP Operates"
        select MOLINK_USING_NETCONN_OPS
        default y

    config SIM7070X_USING_SOCKETS_OPS
        bool "Enable SIM7070X Module BSD Socket Operates"
        select SIM7070X_USING_NETCONN_OPS
        select MOLINK_USING_SOCKETS_OPS
        default n

endmenu
