mainmenu "OneOS Configuration"

#Define the relative path to root directory of os code
OS_ROOT=../../..
SRC_HAL=st

config ST_STM32L562E_BOARD
    bool
    select SOC_STM32L562E_DK
    default y
    
source "$OS_ROOT/Kconfig"
