mainmenu "OneOS Configuration"

#Define the relative path to root directory of os code
OS_ROOT=../..
SRC_HAL=nxp
    
config TEMP_LPC55S28JEV98
    bool
    select SOC_LPC55S28
    default y
    
    if TEMP_LPC55S28JEV98
        config SOC_MODEL
        string
        default "LPC55S28JEV98"
    endif
source "$OS_ROOT/Kconfig"
