menu "gap"
		config MYNEWT_VAL_BLE_SVC_GAP_DEVICE_NAME
		    string "Default value for 'Device Name' characteristics, unless overwritten by application."
		    default "nimble"

		config MYNEWT_VAL_BLE_SVC_GAP_DEVICE_NAME_WRITE_PERM
		    int "Defines permissions for writing 'Device Name' characteristics"
		    default -1

		    help 
				Defines permissions for writing 'Device Name' characteristics. Can be zero to allow write without extra permissions or combination of:     BLE_GATT_CHR_F_WRITE_ENC     BLE_GATT_CHR_F_WRITE_AUTHEN     BLE_GATT_CHR_F_WRITE_AUTHOR Set to '-1' to make characteristic read only.

		config MYNEWT_VAL_BLE_SVC_GAP_DEVICE_NAME_MAX_LENGTH
		    int "Maximum length for 'Device Name' characteristics"
		    default 31


		config MYNEWT_VAL_BLE_SVC_GAP_APPEARANCE
		    int "Device appearance"
		    default 0


		config MYNEWT_VAL_BLE_SVC_GAP_APPEARANCE_WRITE_PERM
		    int "Defines permissions for writing 'Appearance' characteristics"
		    default -1

		    help 
				Defines permissions for writing 'Appearance' characteristics. Can be zero to allow write without extra permissions or combination of:     BLE_GATT_CHR_F_WRITE_ENC     BLE_GATT_CHR_F_WRITE_AUTHEN     BLE_GATT_CHR_F_WRITE_AUTHOR Set to '-1' to make characteristic read only.

		config MYNEWT_VAL_BLE_SVC_GAP_PPCP_MIN_CONN_INTERVAL
		    int "Value of 'minimum connection interval' of PPCP characteristic as defined by Core specification 5"
		    default 0

		    help 
				Value of 'minimum connection interval' of PPCP characteristic as defined by Core specification 5.0, Vol 3, Part C, section 12.3.

		config MYNEWT_VAL_BLE_SVC_GAP_PPCP_MAX_CONN_INTERVAL
		    int "Value of 'maximum connection interval' of PPCP characteristic as defined by Core specification 5"
		    default 0

		    help 
				Value of 'maximum connection interval' of PPCP characteristic as defined by Core specification 5.0, Vol 3, Part C, section 12.3.

		config MYNEWT_VAL_BLE_SVC_GAP_PPCP_SLAVE_LATENCY
		    int "Value of 'slave latency' of PPCP characteristic as  defined by Core specification 5"
		    default 0

		    help 
				Value of 'slave latency' of PPCP characteristic as  defined by Core specification 5.0, Vol 3, Part C, section 12.3.

		config MYNEWT_VAL_BLE_SVC_GAP_PPCP_SUPERVISION_TMO
		    int "Value of 'connection supervision timeout multiplier' of PPCP characteristic as defined by Core specification 5"
		    default 0

		    help 
				Value of 'connection supervision timeout multiplier' of PPCP characteristic as defined by Core specification 5.0, Vol 3, Part C, section 12.3.

		config MYNEWT_VAL_BLE_SVC_GAP_CENTRAL_ADDRESS_RESOLUTION
		    int "Value of 'Central Address Resolution' characteristics, as defined by Core specification 5"
		    default -1

		    help 
				Value of 'Central Address Resolution' characteristics, as defined by Core specification 5.0, Vol 3, Part C, section 12. Set to '-1' to disable.

		config MYNEWT_VAL_BLE_SVC_GAP_SYSINIT_STAGE
		    int "Sysinit stage for the GAP BLE service."
		    default 301
endmenu

