choice
    prompt "|------SUB MODEL"
        default TEMP_STM32L071CB
    help
        Select the device in STM32L071xx
    config TEMP_STM32L071CB
        bool "STM32L071CB"

    config TEMP_STM32L071C8
        bool "STM32L071C8"

    config TEMP_STM32L071CZ
        bool "STM32L071CZ"

    config TEMP_STM32L071RB
        bool "STM32L071RB"

    config TEMP_STM32L071RZ
        bool "STM32L071RZ"

    config TEMP_STM32L071V8
        bool "STM32L071V8"

    config TEMP_STM32L071VB
        bool "STM32L071VB"

    config TEMP_STM32L071VZ
        bool "STM32L071VZ"

endchoice
