mainmenu "OneOS Configuration"

#Define the relative path to root directory of os code
OS_ROOT=../..
SRC_HAL=nxp
    
config TEMP_LPC55S16JBD100
    bool
    select SOC_LPC55S16
    default y
    
    if TEMP_LPC55S16JBD100
        config SOC_MODEL
        string
        default "LPC55S16JBD100"
    endif
source "$OS_ROOT/Kconfig"
