choice
    prompt "|------SUB MODEL"
        default TEMP_stm32l496-ali-developerkit
    help
        Select the device in STM32L496xx

    config TEMP_stm32l496-ali-developerkit
        bool "stm32l496-ali-developerkit"
        
endchoice
