mainmenu "OneOS Configuration"

#Define the relative path to root directory of os code
OS_ROOT=../..
SRC_HAL=nxp
    
config TEMP_LPC5506JBD64
    bool
    select SOC_LPC5506
    default y
    
    if TEMP_LPC5506JBD64
        config SOC_MODEL
        string
        default "LPC5506JBD64"
    endif
source "$OS_ROOT/Kconfig"
