choice
    prompt "|------SUB MODEL"
        default TEMP_HK32F031CBT6
    help
        Select the device in HK32F031

    config TEMP_HK32F031CBT6
        bool "HK32F031CBT6"
        
    config TEMP_HK32F031KBT6
        bool "HK32F031KBT6"
        
    config TEMP_HK32F031KBU6
        bool "HK32F031KBU6"
        
    config TEMP_HK32F031GBU6
        bool "HK32F031GBU6"
        
    config TEMP_HK32F031FBP6
        bool "HK32F031FBP6"
        
endchoice
