menu "BC26 Config" 

    config BC26_AUTO_CREATE
        bool "Enable BC26 Module Object Auto Create"
        select MOLINK_USING_AUTO_CREATE
        default n

    if BC26_AUTO_CREATE

#        config BC26_USING_AUTO_PROBE
#            bool "Enable BC26 Auto probe."
#            select MOLINK_USING_AUTO_PROBE_OPS
#            default n
#
#            if BC26_USING_AUTO_PROBE
#                config BC26_AUTOPROBE_IDENTIFIER
#                    string "autoprobe identifier."
#                    default "BC26"
#            endif

        config BC26_DEVICE_NAME
            string "BC26 Interface Device Name"
            default "uart2"

        config BC26_DEVICE_RATE
            int "BC26 Interface Device Rate"
            default 115200

        config BC26_RECV_BUFF_LEN
            int "The maximum length of AT command data accepted"
            default 1024

    endif

    config BC26_USING_GENERAL_OPS
        bool "Enable BC26 Module General Operates"
        select MOLINK_USING_GENERAL_OPS
        default y
    
    config BC26_USING_NETSERV_OPS
        bool "Enable BC26 Module Network Service Operates"
        select MOLINK_USING_NETSERV_OPS
        default y

    config BC26_USING_PING_OPS
        bool "Enable BC26 Module Ping Operates"
        select MOLINK_USING_NETSERV_OPS
        select MOLINK_USING_PING_OPS
        default y

    config BC26_USING_IFCONFIG_OPS
        bool "Enable BC26 Module Ifconfig Operates"
        select MOLINK_USING_IFCONFIG_OPS
        select BC26_USING_GENERAL_OPS
        select BC26_USING_NETSERV_OPS
        default y

    config BC26_USING_NETCONN_OPS
        bool "Enable BC26 Module Network TCP/IP Operates"
        select MOLINK_USING_NETCONN_OPS
        select BC26_USING_NETSERV_OPS
        default y

    config BC26_USING_SOCKETS_OPS
        bool "Enable BC26 Module BSD Socket Operates"
        select BC26_USING_NETCONN_OPS
        select MOLINK_USING_SOCKETS_OPS
        default n

endmenu
