choice
    prompt "|----MODEL"
        default MODEL_HC32F460
    help
        Select the device in HC32F46x

    config MODEL_HC32F460
        bool "HC32F460"

endchoice

if MODEL_HC32F460
    source "$OS_ROOT/templates/configs/hdsc/f46/f460/Kconfig"
endif
