menu "bas"
		config MYNEWT_VAL_BLE_SVC_BAS_BATTERY_LEVEL_READ_PERM
		    int "Defines permissions for reading 'Battery Level' characteristics"
		    default 0

		    help 
				Defines permissions for reading "Battery Level" characteristics. Can be zero to allow read without extra permissions or combination of:     BLE_GATT_CHR_F_READ_ENC     BLE_GATT_CHR_F_READ_AUTHEN     BLE_GATT_CHR_F_READ_AUTHOR

		config MYNEWT_VAL_BLE_SVC_BAS_BATTERY_LEVEL_NOTIFY_ENABLE
		    int "Set to 1 to support notification or 0 to disable it."
		    default 1


		config MYNEWT_VAL_BLE_SVC_BAS_SYSINIT_STAGE
		    int "Sysinit stage for the battery level service."
		    default 303
endmenu

