mainmenu "One-Os Configuration"

#Define the relative path to root directory of os code
OS_ROOT=../..
SRC_HAL=hdsc

config BOARD_HC32F4
    bool
	select SOC_HC32F46X
    default y

source "$OS_ROOT/Kconfig"
