mainmenu "OneOS Configuration"

#Define the relative path to root directory of os code
OS_ROOT=../..
SRC_HAL=st

config BOARD_NUCLEO_64
    bool
    select SOC_STM32L053R8
    select OS_USING_COMPONENTS_INIT
    select OS_USING_USER_MAIN
    default y
    
source "$OS_ROOT/Kconfig"
