choice
    prompt "|------SUB MODEL"
        default TEMP_HC32L072PATA
    help
        Select the device in HC32L072xxxx

    config TEMP_HC32L072FAUA
        bool "HC32L072FAUA"
        
    config TEMP_HC32L072JATA
        bool "HC32L072JATA"

    config TEMP_HC32L072KATA
        bool "HC32L072KATA"

    config TEMP_HC32L072PATA
        bool "HC32L072PATA"

endchoice