menuconfig BSP_USING_ETH
    bool "Enable Ethernet"
    select NET_USING_LWIP
    default n
    if BSP_USING_ETH
        comment "config eth hw"
        config ETH_RESET_PIN
            int "ETH reset pin number(default:phy_reset pin -->51)"
            default 51
            
        config ETH_RESET_PIN_ACTIVE_HIGH
            bool "ETH reset pin active level is high"
            default n
        
        choice
            prompt "choose eth hardware"
            default PHY_USING_LAN8720A
            help
                Select the eth hardware

            config PHY_USING_LAN8720A
                bool "LAN8720A"

            config PHY_USING_DM9161CEP
                bool "DM9161CEP"

            config PHY_USING_DP83848C
                bool "DP83848C"
        endchoice
    endif

config DEFAULT_SYSTEM_CLOCK_CONFIG
    bool "default system clock config"
    default n
        