mainmenu "OneOS Configuration"

#Define the relative path to root directory of os code
OS_ROOT=../..
SRC_HAL=mm32

config SOC_MM32W362PSB
    bool
    select SERIES_MM32W3XX
    default y
    
    if SOC_MM32W362PSB
        config SOC_MODEL
        string
        default "MM32W362PSB"
    endif
    
source "$OS_ROOT/Kconfig"
