config SERIES_STM32F7
    bool
    select ARCH_ARM_CORTEX_M7
    default n

config SOC_STM32F722xx
    bool
    select MANUFACTOR_STM32
    select SERIES_STM32F7
    default n

config SOC_STM32F7XX
    bool
    select MANUFACTOR_STM32
    select SERIES_STM32F7
    default n

config SOC_STM32F746xx
    bool
    select MANUFACTOR_STM32
    select SERIES_STM32F7
    default n

config SOC_STM32F767xx
    bool
    select MANUFACTOR_STM32
    select SERIES_STM32F7
    default n

config SOC_STM32F769xx
    bool
    select MANUFACTOR_STM32
    select SERIES_STM32F7
    default n

