menu "MQTT kit"

config OS_USING_ONENET_MQTTS
    bool "Enable onenet mqtt-kit"
    select NET_USING_PAHO_MQTT
    select MQTT_USING_CLIENT
    select PKG_USING_CJSON
    select NET_USING_BSD
    default n

    if OS_USING_ONENET_MQTTS

        config ONENET_MQTTS_PUBLISH_DATA_BUFFER_LENGTH
            int "The publish data buffer length"
            default 128

        config ONENET_MQTTS_USING_TLS
            bool "Enable mqtt-kit TLS encrypt"
            select MQTT_USING_TLS
            default n

        config ONENET_MQTTS_USING_AUTO_REGISTER
            bool "Enable onenet device auto register"
            default n

    endif

endmenu
