choice
    prompt "|------SUB MODEL"
        default TEMP_STM32F358CC
    help
        Select the device in STM32F358xx

    config TEMP_STM32F358CC
        bool "STM32F358CC"

    config TEMP_STM32F358RC
        bool "STM32F358RC"
        
    config TEMP_STM32F358VC
        bool "STM32F358VC"
        
endchoice
