choice
    prompt "|------SUB MODEL"
        default TEMP_HC32L190JCTA
    help
        Select the device in HC32L190xxxx

    config TEMP_HC32L190JCTA
        bool "HC32L190JCTA"
        
    config TEMP_HC32L190FCUA
        bool "HC32L190FCUA"

endchoice