mainmenu "One-Os Configuration"

#Define the relative path to root directory of os code
OS_ROOT=../..
SRC_HAL=fm

config BOARD_FM33LC0XX
    bool
    select SOC_FM33LC0XX
    default y
    
source "$OS_ROOT/Kconfig"
