mainmenu "OneOS Configuration"

#Define the relative path to root directory of os code
OS_ROOT=../..
SRC_HAL=st

config BOARD_ST_NUCLEO
    bool
    select SOC_STM32F722xx
    default y
    
source "$OS_ROOT/Kconfig"
