mainmenu "OneOS Configuration"

#Define the relative path to root directory of os code
OS_ROOT=../..
SRC_HAL=st



config BOARD_STM32L462
    bool
    select SOC_STM32L462xx
    default y
    
source "$OS_ROOT/Kconfig"
