mainmenu "OneOS Configuration"

#Define the relative path to root directory of os code
OS_ROOT=../..
SRC_HAL=nxp
    
config TEMP_LPC5526JEV98
    bool
    select SOC_LPC5526
    default y
    
    if TEMP_LPC5526JEV98
        config SOC_MODEL
        string
        default "LPC5526JEV98"
    endif
source "$OS_ROOT/Kconfig"
