mainmenu "OneOS Configuration"

#Define the relative path to root directory of os code
OS_ROOT=../..
SRC_HAL=nxp
    
config TEMP_LPC5504JHI48
    bool
    select SOC_LPC5504
    default y
    
    if TEMP_LPC5504JHI48
        config SOC_MODEL
        string
        default "LPC5504JHI48"
    endif
source "$OS_ROOT/Kconfig"
