menu "dis"
		config MYNEWT_VAL_BLE_SVC_DIS_DEFAULT_READ_PERM
		    int "Defines default permissions for reading characteristics"
		    default -1

		    help 
				Defines default permissions for reading characteristics. Can be zero to allow read without extra permissions or combination of:     BLE_GATT_CHR_F_READ_ENC     BLE_GATT_CHR_F_READ_AUTHEN     BLE_GATT_CHR_F_READ_AUTHOR Set to '-1' to remove this characteristic.

		config MYNEWT_VAL_BLE_SVC_DIS_MODEL_NUMBER_READ_PERM
		    int "Defines permissions for reading 'Model Number' characteristics"
		    default 0

		    help 
				Defines permissions for reading 'Model number' characteristics. Can be set to BLE_SVC_DIS_DEFAULT_READ_PERM or use any of the possible values defined for that setting.

		config MYNEWT_VAL_BLE_SVC_DIS_MODEL_NUMBER_DEFAULT
		    string "Defines a default value for 'Model number' if not set with 'ble_svc_dis_model_number_set'."
		    default "Apache Mynewt NimBLE"

		config MYNEWT_VAL_BLE_SVC_DIS_SERIAL_NUMBER_READ_PERM
		    int "Defines permissions for reading 'Serial Number' characteristics"
		    default MYNEWT_VAL_BLE_SVC_DIS_DEFAULT_READ_PERM
		    help 
				Defines permissions for reading 'Serial Number' characteristics. Can be set to BLE_SVC_DIS_DEFAULT_READ_PERM or use any of the possible values defined for that setting.

		config MYNEWT_VAL_BLE_SVC_DIS_SERIAL_NUMBER_DEFAULT
		    string "Defines a default value for 'Serial Number' if not set with 'ble_svc_dis_serial_number_set'."
		    default "notset"


		config MYNEWT_VAL_BLE_SVC_DIS_HARDWARE_REVISION_READ_PERM
		    int "Defines permissions for reading 'Hardware Revision' characteristics"
		    default MYNEWT_VAL_BLE_SVC_DIS_DEFAULT_READ_PERM
		    help 
				Defines permissions for reading 'Hardware Revision' characteristics. Can be set to BLE_SVC_DIS_DEFAULT_READ_PERM or use any of the possible values defined for that setting.

		config MYNEWT_VAL_BLE_SVC_DIS_HARDWARE_REVISION_DEFAULT
		    string "Defines a default value for 'Hardware Revision' if not set with 'ble_svc_dis_hardware_revision_set'"
		    default "notset"

		    help 
				Defines a default value for 'Hardware Revision' if not set with 'ble_svc_dis_hardware_revision_set'.

		config MYNEWT_VAL_BLE_SVC_DIS_FIRMWARE_REVISION_READ_PERM
		    int "Defines permissions for reading 'Firmware Revision' characteristics"
		    default MYNEWT_VAL_BLE_SVC_DIS_DEFAULT_READ_PERM
		    help 
				Defines permissions for reading 'Firmware Revision' characteristics. Can be set to BLE_SVC_DIS_DEFAULT_READ_PERM or use any of the possible values defined for that setting.

		config MYNEWT_VAL_BLE_SVC_DIS_FIRMWARE_REVISION_DEFAULT
		    string "Defines a default value for 'Software revision' if not set with 'ble_svc_dis_firmware_revision_set'"
		    default "notset"

		    help 
				Defines a default value for 'Software revision' if not set with 'ble_svc_dis_firmware_revision_set'.

		config MYNEWT_VAL_BLE_SVC_DIS_SOFTWARE_REVISION_READ_PERM
		    int "Defines permissions for reading 'Software revision' characteristics"
		    default MYNEWT_VAL_BLE_SVC_DIS_DEFAULT_READ_PERM
		    help 
				Defines permissions for reading 'Software revision' characteristics. Can be set to BLE_SVC_DIS_DEFAULT_READ_PERM or use any of the possible values defined for that setting.

		config MYNEWT_VAL_BLE_SVC_DIS_SOFTWARE_REVISION_DEFAULT
		    string "Defines a default value for 'Software revision' if not set with 'ble_svc_dis_software_revision_set'"
		    default "notset"

		    help 
				Defines a default value for 'Software revision' if not set with 'ble_svc_dis_software_revision_set'.

		config MYNEWT_VAL_BLE_SVC_DIS_MANUFACTURER_NAME_READ_PERM
		    int "Defines permissions for reading 'Manufacturer name' characteristics"
		    default MYNEWT_VAL_BLE_SVC_DIS_DEFAULT_READ_PERM
		    help 
				Defines permissions for reading 'Manufacturer name' characteristics. Can be set to BLE_SVC_DIS_DEFAULT_READ_PERM or use any of the possible values defined for that setting.

		config MYNEWT_VAL_BLE_SVC_DIS_MANUFACTURER_NAME_DEFAULT
		    string "Defines a default value for 'Manufacturer name' if not set with 'ble_svc_dis_manufacturer_name_set'"
		    default "notset"

		    help 
				Defines a default value for 'Manufacturer name' if not set with 'ble_svc_dis_manufacturer_name_set'.

		config MYNEWT_VAL_BLE_SVC_DIS_SYSTEM_ID_READ_PERM
		    int "Defines permissions for reading 'System ID' characteristics"
		    default MYNEWT_VAL_BLE_SVC_DIS_DEFAULT_READ_PERM
		    help 
				Defines permissions for reading 'System ID' characteristics. Can be set to BLE_SVC_DIS_DEFAULT_READ_PERM or use any of the possible values defined for that setting.

		config MYNEWT_VAL_BLE_SVC_DIS_SYSTEM_ID_DEFAULT
		    string "Defines a default value for 'System ID' if not set with 'ble_svc_dis_manufacturer_name_set'."
		    default "notset"


		config MYNEWT_VAL_BLE_SVC_DIS_SYSINIT_STAGE
		    int "Sysinit stage for the device information BLE service."
		    default 303
endmenu

