mainmenu "OneOS Configuration"

#Define the relative path to root directory of os code
OS_ROOT=../..
SRC_HAL=nxp
    
config TEMP_LPC5514JBD100
    bool
    select SOC_LPC5514
    default y
    
    if TEMP_LPC5514JBD100
        config SOC_MODEL
        string
        default "LPC5514JBD100"
    endif
source "$OS_ROOT/Kconfig"
