menu "ram"
		config MYNEWT_VAL_BLE_STORE_RAM_SYSINIT_STAGE
		    int "Sysinit stage for the RAM BLE store."
		    default 500


		config MYNEWT_VAL_BLE_STORE_RAM_DEPRECATED_FLAG
		    int "Package store/ram is deprecated and store/config shall be used with BLE_STORE_CONFIG_PERSIST set to 0"
		    default 0

		    help 
				Package store/ram is deprecated and store/config shall be used with BLE_STORE_CONFIG_PERSIST set to 0
endmenu
