menu "Molink"

config NET_USING_MOLINK
    bool "Enable IoT modules support"
    select OS_USING_SYS_HEAP
    default n

if NET_USING_MOLINK

    source "$OS_ROOT/components/net/molink/*/Kconfig"

endif

endmenu 
