mainmenu "OneOS Configuration"

#Define the relative path to root directory of os code
OS_ROOT=../..
SRC_HAL=nxp
    
config TEMP_LPC55S04JHI48
    bool
    select SOC_LPC55S04
    default y
    
    if TEMP_LPC55S04JHI48
        config SOC_MODEL
        string
        default "LPC55S04JHI48"
    endif
source "$OS_ROOT/Kconfig"
