
menu "GM510 Config" 

    config GM510_AUTO_CREATE
        bool "Enable GM510 Module Object Auto Create"
        default n

    if GM510_AUTO_CREATE

        config GM510_DEVICE_NAME
            string "GM510 Interface Device Name"
            default "uart2"

        config GM510_DEVICE_RATE
            int "GM510 Interface Device Rate"
            default 115200

        config GM510_RECV_BUFF_LEN
            int "The maximum length of AT command data accepted"
            default 512

    endif

    config GM510_USING_GENERAL_OPS
        bool "Enable GM510 Module General Operates"
        select MOLINK_USING_GENERAL_OPS
        default y

    config GM510_USING_NETSERV_OPS
        bool "Enable GM510 Module Network Service Operates"
        select MOLINK_USING_NETSERV_OPS
        default y

    config GM510_USING_IFCONFIG_OPS
        bool "Enable GM510 Module Ifconfig Operates"
        select MOLINK_USING_IFCONFIG_OPS
        select GM510_USING_GENERAL_OPS
        select GM510_USING_NETSERV_OPS
        default y
		
    config GM510_USING_NETCONN_OPS
        bool "Enable GM510 Module Network TCP/IP Operates"
        select MOLINK_USING_NETCONN_OPS
        default y

    config GM510_USING_SOCKETS_OPS
        bool "Enable GM510 Module BSD Socket Operates"
        select GM510_USING_NETCONN_OPS
        select MOLINK_USING_SOCKETS_OPS
        default n

endmenu