choice
    prompt "|------SUB MODEL"
        default TEMP_stm32l152-nucleo-64
    help
        Select the device in STM32L152xx

    config TEMP_stm32l152-nucleo-64
        bool "stm32l152-nucleo-64"

endchoice
